<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WIDM_Exam.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <WIDM_Exam.My.MySettings>
      <setting name="file" serializeAs="String">
        <value />
      </setting>
      <setting name="logo" serializeAs="String">
        <value />
      </setting>
      <setting name="groepsmodus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="telling" serializeAs="String">
        <value>vast</value>
      </setting>
      <setting name="results" serializeAs="String">
        <value />
      </setting>
      <setting name="executiefile" serializeAs="String">
        <value />
      </setting>
      <setting name="kandidatenfile" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="font" serializeAs="String">
        <value>999</value>
      </setting>
      <setting name="rComboBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fullScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="folder" serializeAs="String">
        <value />
      </setting>
      <setting name="aflevering" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="schermstyle" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="roodscherm" serializeAs="String">
        <value />
      </setting>
      <setting name="groenscherm" serializeAs="String">
        <value />
      </setting>
      <setting name="headerfile" serializeAs="String">
        <value />
      </setting>
      <setting name="header" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="schermenlijstloc" serializeAs="String">
        <value />
      </setting>
      <setting name="oudemuziek" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="numRuimteTussenAntwoorden2" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="rNormal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="informationshow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="firstboot" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rWedstrijd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="wedstrijdfile" serializeAs="String">
        <value />
      </setting>
      <setting name="standaardinladen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="threerows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="numRuimteTussenAntwoordenHorizontaal" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="currentEpisode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="saveatclose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MustUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rLangereGeluiden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rMuziekAfspelen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rAfscheidsmuziek" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rSchermGeluid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rVerwijderNaam" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rMuziekDoorspelen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rGeluidTest" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="language" serializeAs="String">
        <value>nl</value>
      </setting>
      <setting name="CurrentTheme_old" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rNummers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rBackup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="numBackups" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="background" serializeAs="String">
        <value />
      </setting>
      <setting name="backgroundColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="rVirtualKeyboard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rNumberBeforeQuestion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="numPort" serializeAs="String">
        <value>6533</value>
      </setting>
      <setting name="rRandom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rMonitor" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="selectedTheme" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentTheme" serializeAs="String">
        <value>Standaard.widmthema</value>
      </setting>
      <setting name="rShowAnswersInGroups" serializeAs="String">
        <value>False</value>
      </setting>
    </WIDM_Exam.My.MySettings>
  </userSettings>
</configuration>
